getdata/wcf_client/wcf_client/Service References/ServiceReference1/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zx.bjmemc.com.cn/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BEPB.Web" />
  <xs:element name="GetWebCounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebCountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWebCountsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWebDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebAlert">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWebAlertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebPredict">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebPredictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWebPredictResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DayForecast">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DayForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BEPB.Web" minOccurs="0" name="DayForecastResult" nillable="true" type="q1:ArrayOfTB_Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BEPB.Web" minOccurs="0" name="GetRTCResult" nillable="true" type="q2:ArrayOfTB_RTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTC24h">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pollutant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRTC24hResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BEPB.Web" minOccurs="0" name="GetRTC24hResult" nillable="true" type="q3:ArrayOfTB_RTC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlert">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BEPB.Web" minOccurs="0" name="GetAlertResult" nillable="true" type="q4:ArrayOfTB_Alert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>